@{
    ViewBag.Title = "Home Page(CeSev v1.1)";
}

    <div class="jumbotron">
        <h1>CeSev</h1>
        @*<button onclick="GetInfo()">경제지표 받아오기</button>*@
        <button onclick="GetKospi()">코스피 정보 받아오기</button>

        <button onclick="GetKosdaq()">코스닥 정보 받아오기</button>
        <button onclick="GetExchange()">환율 정보 받아오기</button>
    </div>


    <script>

    function test() {
        alert('dd');
    }

    function GetInfo() {

        var url = '@Url.Action("WorkSchedule", "Home")';
        $.post(url, {}, function (data) {
            //alert('@ViewBag.Message');
            alert(data.Response);
        });
    }

    function GetKospi() {

        var url = '@Url.Action("GetKospi", "Home")';
        $.post(url, {}, function (data) {
            //alert('@ViewBag.Message');
            alert(data.Response);
        });
    }

    function GetKosdaq() {

        var url = '@Url.Action("GetKosdaq", "Home")';
        $.post(url, {}, function (data) {
            //alert('@ViewBag.Message');
            alert(data.Response);
        });
    }

    function GetExchange() {

        alert('기능 준비중');
    }


    </script>
