<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 내 ASP.NET 응용 프로그램</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/css/kendo.common.min.css" />
    <link rel="stylesheet" href="~/css/kendo.default.min.css" />
    <link rel="stylesheet" href="~/css/kendo.default.mobile.min.css" />


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CeSev", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("증시", "Korea", "Stock")</li>
                    <li>@Html.ActionLink("환율", "ExchRate", "Stock")</li>

                    @*<li>@Html.ActionLink("한국", "Korea", "Stock")</li>*@
                    @*<li>@Html.ActionLink("중국", "China", "Stock")</li>*@
                    @*<li>@Html.ActionLink("미국", "USA", "Stock")</li>*@

                    @*<li>@Html.ActionLink("일본", "Japan", "Stock")</li>*@
                    @*<li>@Html.ActionLink("베트남", "Vietnam", "Stock")</li>*@

                    @*<li>@Html.ActionLink("원자재", "RawMate", "Stock")</li>*@
                    @*<li>@Html.ActionLink("환율", "ExchRate", "Stock")</li>*@

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 내 ASP.NET 애플리케이션</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
